clock {
    display: flex;
    flex-direction: row;
}

clock>* {
    align-self: center;
    margin-right: .3rem;
}

analog {
    display: block;
    position: relative;
    overflow: hidden;
    width: 20px;
    height: 20px;
}

analog>* {
    display: block;
    width: 100%;
    height: 100%;
}

analog>*>svg {
    width: 100%;
    height: 100%;
}

clock analog front,
clock analog zoof {
    position: absolute;
    left: 0;
    top: 0;
    animation: 1s linear 🔁 infinite;
}

clock.stopped analog front {
    animation-play-state: paused;
}

clock.stopped analog zoof {
    display: none;
}

clock input {
    width: 3rem;
}

clock span {
    font-family: "Roboto Mono", monospace;
    font-size: .75rem;
    word-spacing: -.2rem;
}

clock span#unit {
    font-style: italic;
    cursor: pointer;
}

clock span#unit::after {
    content: "secs / tick";
}

clock.inverted span#unit::after {
    content: "ticks / sec";
}

clock button {
    margin-left: 1rem;
    margin-right: 1rem;
}

clock button::after {
    content: "Stop";
}

clock.stopped button::after {
    content: "Start";
}

clock.fixed span,
clock.fixed input {
    display: none;
}

@keyframes 🔁 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}