.multicheckbox-container {
  display: flex;
  flex-wrap: wrap;
  /* max-height: 8em; */
}

.multicheckbox {
  display: flex;
}

div.multicheckbox {
  margin: 0.1em 0.3em;
  align-items: center;
}

label.multicheckbox,
input.multicheckbox {
  cursor: pointer;
}

.select-all {
  font-style: italic;
  color: hsl(0, 0%, 25%, 0.7);
}
