plj-multi-checkbox {
  display: flex;
  flex-wrap: wrap;
  /* max-height: 8em; */
}

plj-multi-checkbox * {
  display: flex;
}

plj-multi-checkbox > div {
  margin: 0.1em 0.3em;
  align-items: center;
}

plj-multi-checkbox label,
plj-multi-checkbox input {
  cursor: pointer;
}

plj-multi-checkbox .select-all {
  font-style: italic;
  color: hsl(0, 0%, 25%, 0.7);
}
